* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  .border {
    padding: 10px 20px;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 10px 20px;

  .imgae-container {
    position: relative;
    margin-bottom: 10px;

    img {
      width: 200px;
      height: 140px;
      border-radius: 10px;
    }

    button {
      position: absolute;
      bottom: -10px;
      left: 70px;
      border-radius: 10px;

      padding: 5px 10px;
      font-size: 10px;
    }
  }
}
